[submodule "vendors/openclaw"]
	path = vendors/openclaw
	url = https://github.com/openclaw/openclaw.git
[submodule "vendors/OpenClaw-RL"]
	path = vendors/OpenClaw-RL
	url = https://github.com/Gen-Verse/OpenClaw-RL.git
